<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/full-slider.css" rel="stylesheet">
    <style>
        #galleria{height:467px}
    </style>

</head>

<body style="margin-top: 100px;">

    <div class="container">
        <div class="row">

         <% @galleries.each do |gallery| %>
         <div class="col-md-4 portfolio-item">
         <div class="thumbnail">
            <a >
                <%= image_tag gallery.photo.url(:preview), :class => "img-responsive" %>
            </a>
            <h3><a href="#project-link" onclick="loadGalleria('<%=gallery.setid%>');modalClick();"><%=gallery.name%></a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        </div>
        <% end %>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      </div>
      <div class="modal-body">
        <div class="row">
                <div class="col-lg-12">
                    <div id="galleria">
                        <!--<img src="/IMG_0321.jpg">
                        <img src="/IMG_0330.jpg">-->
                    </div>
                </div>
            </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>

</body>
</html>

<script type="text/javascript">
$('#galleria').galleria({
width: 700,
height: 467 //--I made heights match
});

window.onload = function() {
  loadGalleria(72157612108853933);
};

function loadGalleria(set) {
    var setString = 'set:' + set;
    //alert(setString);
    Galleria.loadTheme('/galleria.classic.min.js');
            //Galleria.run('#galleria');
            Galleria.run('#galleria', {
            flickr: setString,
            flickrOptions: {
                max: 400,
                sort: 'date-posted-asc'
            }
        });
}

function modalClick() {  
    $('#myModal').modal('toggle');
  }

</script>